<h2>Gemini Chatting bot</h2>
<div class="form__group field">
  <input type="input" class="form__field" [(ngModel)]="prompt" placeholder="Write something..." name="Write something.." id='Write something..' required (keydown.enter)=" send(); $event.preventDefault()"

/>
  <label for="Write something.." class="form__label">Write something..</label>


@if (loading) {
  <p>Thinking...</p>
} @else {
  @if (response.trim() !== "") {
    <div class="response">
      <strong>AI:</strong> {{ response }}
    </div>
  }
}
</div>
